body{ background-image: url("Images2/Background1.jpg");
      background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;
	  height: auto;
	  background-attachment: scroll;
	  
     }
	 
       /*Sizes Of IMAGES and ALIGNMENT OF IMAGES*/
.img-container2 img{
	            position: top left;
                width: 150px;
                height: 150px;				
				 }
				 
.img-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.img-container img{
     width: 250px;
     height: 250px;
	  flex-wrap: wrap;
   }
   p { text-align: center;
	   font-family: Algerian;
	   color:  red;
	   text-decoration: none;
   }

main{
	  margin: 21px;
}
h1 {
    font-family: Algerian;
     color: red;
   text-align: center;	 
   }
   
 h2 {
    font-family: Algerian;
     color: red;
   text-align: center;	 
   }
   
   /*Navigation Bar*/
  .navbar ul{
	         list-style-type: none;
			 background-color: yellow;
			 padding:  0px; 
			 margin: 0px;
			 overflow: hidden;
			 display: flex;
			 gap: 10px;
  }
  .navbar a:hover{
	         background-color: red;
	         
            }
	.navbar a{
		      color: orange;
			  text-decoration: none;
			  font-family: Algerian;
			  padding: 16px;
			  display: block;			  
	}

.navbar li{
	       position: relative;
		   float: left;
	      }

/* DROPDOWN STYLES */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: yellow;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: orange;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
      margin: 0;
      padding: 0;
}

footer {
      background-color: #ffcb05;
      text-align: center;
      padding: 15px;
    }

label {
	 font-family: Algerian;
	 color: gold;
	 font-weight: bold;
}
input[type="submit"]:hover{
	       background-color: red;
}

input{
	border-radius: 9px;
}